// Colors =====>
$color-black: #000000;
$color-white: #ffffff;

$color-background: #152F38;
$color-almost-transparent-background: rgba(255, 255, 255, 0.3);

$color-background-nav-link: #5D6267;
$color-background-nav-link-active: #DCE0E1;
$color-symbol-and-number: #B0B0AF;


$color-gold-1: #BC8B5E;

$color-yellow-1: #F9DF5A;

$color-green-1: #AEE2CE;
$color-green-2: #9AEACB;

$color-grey-1: #B0B0AF;
$color-grey-2: #363636;

// Transition's =====>
$transition-low: all 0.15s ease-in-out;
$transition-normal: all 0.3s ease-in-out;
$transition-high: all 0.6s ease-in-out;