<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <a href="/" class="logo">
        <img src="img/logo.svg" alt="Logo of Endoclinic">
      </a>
      <ul class="footer__list">
        <li>
          <a href="treatments.html">
            Treatments
          </a>
        </li>
        <li>
          <a href="technology.html">
            Technology
          </a>
        </li>
        <li>
          <a href="about.html">
            About us
          </a>
        </li>
        <li>
          <a href="contact.html">
            Contact
          </a>
        </li>
        <li>
          <a href="Locations.html">
            Locations
          </a>
        </li>
      </ul>
    </div>
    <ul>
      <li>
        <h3>Phone</h3>
        <a href="tel:+447700900652">
          +44 7700 900652
        </a>
      </li>
      <li>
        <h3>Email</h3>
        <a href="mailto:jassareljabouri@me.com">
          jassareljabouri@me.com
        </a>
      </li>
      <li>
        <h3>Location</h3>
        <a href="#">
          57 Markham Street
          SW3 3NR London
        </a>
      </li>
    </ul>
    <div class="copyright">
      <a href="#">
        Terms and Conditions
      </a>
      <a href="privacy-policy.html">
        Privacy Policy
      </a>
    </div>
  </div>
</footer>