.technology {
  padding: 40px 0;
  &__content {
    padding: 0 15px;
  }
  &__table {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: -15px;
  }
  &__wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
  }
  &-card {
    cursor: pointer;
    position: relative;
    max-height: 300px;
    min-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    &__image {
      img,
      source {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      background: rgba(255, 255, 255, 0.3);
    }
    &__header {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 15px;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      overflow: hidden;
    }
    h3 {
      color: #152F38;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      transition: $transition-normal;
    }
    &__body {
      p {
        display: none;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        span {
          display: block;
        }
      }
      .link-primary {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: $transition-normal;
        &__title {
          display: block;
          font-weight: 700;
        }
        &__circle {
          display: none;
        }
      }
    }
    &.js-active {
      .link-primary {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Media 480px =====>
@media screen and (min-width: 480px) {
  .technology {
    &-card {
      min-height: 400px;
      max-height: 400px;
    }
  }
}

// Media 768px =====>
@media screen and (min-width: 768px) {
  .technology {
    &__wrapper {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

// Media 992px =====>
@media screen and (min-width: 992px) {
  .technology {
    padding: 70px 0;
    &__content {
      padding: 0;
    }
    &__table {
      position: relative;
      margin: 0;
    }
    &__wrapper {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      &:first-child {
        .technology {
          &-card {
            &__body {
              display: block;
            }
          }
        }
      }
      &:nth-child(-n+2) {
        .technology {
          &-card {
            &__image {
              top: 0;
              right: 0;
              transform: translateY(0);
              border-radius: 0 0 0 10px;
            }
          }
        }
      }
      &:nth-last-child(-n+2) {
        .technology {
          &-card {
            &__image {
              top: unset;
              bottom: 0;
              right: 0;
              transform: translateY(0);
              border-radius: 10px 0 0 0;
            }
          }
        }
      }
      &.js-active {
        background: rgba(255, 255, 255, 0.3);
        .technology {
          &-card {
            &__image {
              opacity: 1;
              visibility: visible;
            }
            h3 {
              color: $color-green-1;
              text-shadow: 1px 0 0 currentColor;
            }
          }
        }
      }
    }
    &-card {
      padding: 40px 0;
      min-height: fit-content;
      max-height: unset;
      display: flex;
      border-radius: 0;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 0;
      border-right-width: 0;
      border-style: solid;
      border-color: $color-white;
      overflow: visible;
      &__image {
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        max-width: 424px;
        max-height: 564px;
        transition: $transition-normal;
        overflow: hidden;
        border-radius: 10px 0 0 10px;
      }
      &__content {
        background: transparent;
        max-width: 1270px;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
      }
      &__header {
        position: relative;
        background: transparent;
        backdrop-filter: none;
        padding: 0;
        height: auto;
      }
      h3 {
        color: $color-white;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
      }
      &__body {
        display: none;
        max-width: 520px;
        margin-top: 16px;
        p {
          display: block;
        }
        .link-primary {
          opacity: 1;
          visibility: visible;
          margin-top: 16px;
          position: relative;
          width: fit-content;
          background: transparent;
          &__circle {
            display: block;
            max-width: 42px;
            min-width: 42px;
            max-height: 42px;
            min-height: 42px;
          }
          &__title {
            font-weight: 400;
          }
        }
      }
    }
  }
}

// Media 1200px =====>
@media screen and (min-width: 1200px) {
  .technology {
    &-card {
      &__image {
        max-width: 520px;
      }
    }
  }
}