.technology {
  padding: 40px 0;
  &__content {
    padding: 0 15px;
  }
  &__table {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: -15px;
  }
  &__wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
  }
  &-card {
    cursor: pointer;
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    min-height: 300px;
    max-height: 300px;
    text-decoration: none;
    &__header {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 70px;
      display: flex;
      align-items: center;
      padding: 5px 15px;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(20px);
      border-radius: 10px;
    }
    &__body {
      p {
        display: none;
      }
    }
    &__title {
      color: #152F38;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .link-primary {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
      transition: $transition-normal;
      &__title {
        display: block;
        font-weight: 700;
      }
      &__circle {
        display: none;
      }
    }
    &.js-active {
      .link-primary {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Media 480px =====>
@media screen and (min-width: 480px) {
  .technology {
    &-card {
      min-height: 420px;
      max-height: 420px;
    }
  }
}

// Media 640px =====>
@media screen and (min-width: 640px) {
  .technology {
    &-card {
      min-height: 480px;
      max-height: 480px;
    }
  }
}

// Media 768px =====>
@media screen and (min-width: 768px) {
  .technology {
    &__wrapper {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &-card {
      min-height: 360px;
      max-height: 360px;
    }
  }
}

// Media 992px =====>
@media screen and (min-width: 992px) {
  .technology {
    padding: 70px 0;
    &__content {
      padding: 0;
    }
    &__table {
      position: relative;
      margin: 0;
    }
    &__wrapper {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      &:first-child {
        .technology {
          &-card {
            &__body {
              display: block;
            }
          }
        }
      }
      &:nth-child(-n+2) {
        .technology {
          &-card {
            &__image {
              top: 0;
              right: 0;
              transform: translateY(0);
              border-radius: 0 0 0 10px;
            }
          }
        }
      }
      &:nth-last-child(-n+2) {
        .technology {
          &-card {
            &__image {
              top: unset;
              bottom: 0;
              right: 0;
              transform: translateY(0);
              border-radius: 10px 0 0 0;
            }
          }
        }
      }
    }
    &-card {
      min-height: auto;
      max-height: fit-content;
      border-radius: 0;
      transition: $transition-normal;
      overflow: visible;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 0;
      border-right-width: 0;
      border-color: $color-white;
      border-style: solid;
      &__header {
        position: relative;
        padding: 0;
        background: transparent;
        border-radius: 0;
        min-height: auto;
        backdrop-filter: none;
      }
      &__body {
        margin-top: 20px;
        display: none;
        max-width: 480px;
        p {
          display: block;
        }
      }
      &__title {
        color: $color-white;
        font-size: 20px;
        line-height: 1.4;
        max-width: 720px;
        transition: $transition-normal;
      }
      &__content {
        position: relative;
        max-width: 1270px;
        margin: 0 auto;
        z-index: 1;
        padding: 40px 15px;
      }
      &__image {
        z-index: 2;
        position: absolute;
        top: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        max-width: 45%;
        max-height: 590px;
        min-height: 590px;
        overflow: hidden;
        border-radius: 10px 0 0 10px;
        img {
          opacity: 0;
          visibility: hidden;
          transition: $transition-normal;
        }
      }
      .link-primary {
        opacity: 1;
        visibility: visible;
        position: relative;
        justify-content: flex-start;
        width: fit-content;
        margin-top: 20px;
        background: transparent;
        &__title {
          font-weight: 400;
          margin-right: 18px;
        }
        &__circle {
          display: block;
          max-width: 42px;
          min-width: 42px;
          max-height: 42px;
          min-height: 42px;
        }
        &__arrow {
          left: -17px;
        }
        &:hover {
          .link-primary {
            &__arrow {
              width: 48px;
            }
          }
        }
      }
      &.js-active {
        background-color: rgba(255, 255, 255, 0.3);
        .technology {
          &-card {
            &__title {
              color: $color-green-1;
              text-shadow: 1px 0 0 currentColor;
            }
            &__image {
              z-index: 3;
              img {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

// Media 1200px =====>
@media screen and (min-width: 1200px) {
  .technology {
    &-card {
      &__image {
        max-width: 520px;
        min-width: 520px;
      }
    }
  }
}

// Media 1310px =====>
@media screen and (min-width: 1310px) {
  .technology {
    &-card {
      &__title {
        max-width: 720px;
      }
      &__body {
        max-width: 720px;
      }
    }
  }
}