.refering.hero {
  background-image: url(../img/hero-background-2.png);
  background-repeat: no-repeat;
  background-position: -220px top;
  background-size: cover;
  padding: 150px 0;
}

// Media 640 =====>
@media screen and (min-width: 640px) {
  .refering.hero {
    background-position: top center;
  }
}

// Media 992 =====>
@media screen and (min-width: 992px) {
  .refering.hero {
    padding: 364px 0 304px;
    h1 {
      font-size: 50px;
      max-width: 764px;
    }
    p {
      font-size: 24px;
      max-width: 764px;
    }
  }
}