.refering.about {
  .section-header {
    margin-bottom: 30px;
  }
  .about {
    &-text {
      h2 {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-white;
        text-transform: uppercase;
      }
      p {
        margin-bottom: 24px;
      }
      ul {
        li {
          &:last-child {
            p {
              margin-bottom: 32px;
            }
          }
          p {
            margin-bottom: 24px;
          }
          h4 {
            margin-bottom: 12px;
            padding-bottom: 8px;
            border-bottom: 1px solid $color-white;
          }
        }
      }
    }
  }
  p {
    strong {
      color: $color-gold-1;
      font-weight: 400;
    }
  }
}

// Media 768px =====>
@media screen and (min-width: 768px) {
  .refering.about {
    .section-header {
      margin-bottom: 70px;
    }
    .about {
      &__photo {
        position: sticky;
        top: 136px;
      }
      &-text {
        padding-top: 50px;
        h2 {
          margin-bottom: 50px;
          padding-bottom: 40px;
        }
      }
    }
  }
}