<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Endoclinic</title>

  <!-- Import Style's -->
  <link rel="stylesheet" href="./css/vendor.min.css">
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>

  <div class="site-container">
    <!-- Header -->
    <header class="header">
      <div class="container">
        <a href="index.html" class="logo">
          <img src="img/logo.svg" alt="Logo of Endoclinic">
        </a>
        <nav class="nav">
          <ul class="nav__list menu">
            @@loop('../components/UI/nav-link.html', [
              { "title": "Treatments", "symbol": "Tr", "number": "34", "path": "treatments.html", "class": "" },
              { "title": "About us", "symbol": "Ab", "number": "27", "path": "about.html", "class": "" },
              { "title": "Technology", "symbol": "Te", "number": "11", "path": "technology.html", "class": "" },
              { "title": "", "symbol": "", "number": "", "path": "", "class": "plug" },
              { "title": "Contact", "symbol": "Co", "number": "44", "path": "contacts.html", "class": "" },
              { "title": "Locations", "symbol": "Lo", "number": "31", "path": "contacts.html", "class": "" },
            ])
          </ul>
        </nav>
        <button class="burger">
          <span class="burger__wrapper">
            <span class="burger__line"></span>
          </span>
        </button>
        <div class="header-content">
          <div class="container">
            <ul class="header-content__list">
              <li class="header-content__item">
                56 Queens Road, London
              </li>
              <li class="header-content__item">
                40 New Road, London
              </li>
              <li class="header-content__item">
                56 Queens Road, London
              </li>
              <li class="header-content__item">
                40 New Road, London
              </li>
            </ul>
            <div class="header-content__footer">
              <a href="tel:+" class="header-content__link">+44 7700 900652</a>
              <a href="refering.html" class="btn-secondary">
                Refering dentist?
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- Privacy Policy -->
      @@include('../components/blocks/privacy-policy/privacy-policy.html')
    </main>
  
    <!-- Footer -->
    @@include('../components/blocks/footer/footer.html')
  </div>

  <!-- Import Script's -->

  <script src="./js/vendor.min.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>