<header class="header" id="fixed-target">
  <div class="container">
    <a href="index.html" class="logo">
      <img src="img/logo.svg" alt="Logo of Endoclinic">
    </a>
    <nav class="nav">
      <!-- <ul class="nav__list menu">
        <li class="nav__item menu-item">
          <a href="#" class="nav__link">
            <span class="symbol">Tr</span>
            <span class="number">34</span>
            <span class="title">Treatments</span>
          </a>
        </li>
        <li class="nav__item menu-item">
          <a href="#" class="nav__link">
            <span class="symbol">Ab</span>
            <span class="number">27</span>
            <span class="title">About us</span>
          </a>
        </li>
        <li class="nav__item menu-item">
          <a href="#" class="nav__link">
            <span class="symbol">Te</span>
            <span class="number">11</span>
            <span class="title">Technology</span>
          </a>
        </li>
        <li class="nav__item"></li>
        <li class="nav__item menu-item">
          <a href="#" class="nav__link">
            <span class="symbol">Co</span>
            <span class="number">44</span>
            <span class="title">Contacts</span>
          </a>
        </li>
        <li class="nav__item menu-item">
          <a href="#" class="nav__link">
            <span class="symbol">Lo</span>
            <span class="number">31</span>
            <span class="title">Locations</span>
          </a>
        </li>
      </ul> -->
      <ul class="nav__list menu">
        @@loop('../../UI/nav-link.html', [
          { "title": "Treatments", "symbol": "Tr", "number": "34", "path": "#", "class": "" },
          { "title": "About us", "symbol": "Ab", "number": "27", "path": "about.html", "class": "" },
          { "title": "Technology", "symbol": "Te", "number": "11", "path": "#", "class": "" },
          { "title": "", "symbol": "", "number": "", "path": "", "class": "plug" },
          { "title": "Contact", "symbol": "Co", "number": "44", "path": "contacts.html", "class": "" },
          { "title": "Locations", "symbol": "Lo", "number": "31", "path": "#", "class": "" },
        ])
      </ul>
    </nav>
    <button class="burger">
      <div class="burger__wrapper">
        <span class="burger__line"></span>
      </div>
    </button>
    <div class="header-contacts">
      <ul class="header-contacts__list">
        <li class="header-contacts__item">
          <a href="#" class="header-contacts__link">
            <i class="icon-email"></i>
          </a>
        </li>
        <li class="header-contacts__item">
          <a href="tel:+" class="header-contacts__link">
            <i class="icon-phone"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="header-content">
      <div class="container">
        <ul class="header-content__list">
          <li class="header-content__item">
            56 Queens Road, London
          </li>
          <li class="header-content__item">
            40 New Road, London
          </li>
          <li class="header-content__item">
            56 Queens Road, London
          </li>
          <li class="header-content__item">
            40 New Road, London
          </li>
        </ul>
        <div class="header-content__footer">
          <a href="tel:+" class="header-content__link">+44 7700 900652</a>
          <a href="#" class="btn-secondary">
            <span>Refering dentist?</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>