.treatments {
  padding: 40px 0;
  &-slider {
    padding: 0 15px;
  }
}

// Media 992px =====>
@media screen and (min-width: 992px) {
  .treatments {
    padding: 70px 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    &-slide {
      min-width: 580px;
      max-width: 580px;
      &:first-child {
        margin-left: 220px;
      }
      &:last-child {
        margin-right: 120px;
      }
      &:not(:last-child) {
        margin-right: 120px;
      }
      .card {
        max-height: 420px;
        min-height: 420px;
      }
    }
    .swiper {
      &-navigation {
        display: none;
      }
    }
  }
}