<section id="contacts-form" class="contacts-form" role="form">
  <div class="container">
    <div class="section-header">
      <h2>Contacts us</h2>
      <a href="refering.html" class="btn-secondary">
        Refering dentist?
      </a>
    </div>
    <form action="" class="form">
      @@loop('../../UI/form-field.html', [
        { "type": "text", "name": "user_name", "placeholder": "Name", "attr": "" },
        { "type": "tel", "name": "user_phone", "placeholder": "Phone", "attr": "" },
        { "type": "email", "name": "user_email", "placeholder": "Email", "attr": "" },
      ])
      <select id="mounth">
        <option value="hide">Dental issue</option>
        <option value="root canal treatment">Root canal treatment</option>
        <option value="tooth infection">Tooth infection</option>
        <option value="toothache">Toothache</option>
        <option value="lost filling">Lost filling</option>
        <option value="lost crown">Lost crown</option>
        <option value="bleaching">Bleaching</option>
        <option value="broken tooth">Broken tooth</option>
        <option value="other">Other</option>
      </select>
      <textarea name="" id="" rows="1" class="form__field message" placeholder="Message"></textarea>
      <button type="submit" class="btn-primary">
        Send
      </button>
    </form>
  </div>
</section>