.about {
  &-quote {
    padding-top: 30px;
    border-top: 1px solid $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .icon-quotes {
      color: $color-white;
      font-size: 53px;
    }
    p {
      margin: 28px 0 16px;
      font-size: 20px;
    }
    h3 {
      color: $color-green-1;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.6;
      span {
        display: block;
        color: $color-white;
        font-weight: 400;
      }
    }
  }
}

.about-page {
  .about {
    padding: 124px 0 40px;
  }
}

// Media 768px =====>
@media screen and (min-width: 768px) {
  .about-page {
    .about {
      padding: 300px 0 70px;
      &__photo {
        position: sticky;
        top: 130px;
      }
    }
  }
  .refering.about {
    .section-header {
      margin-bottom: 70px;
    }
    .about {
      &-text {
        padding-top: 50px;
        h2 {
          margin-bottom: 50px;
          padding-bottom: 40px;
        }
      }
    }
  }
}