.about {
  padding: 40px 0;
  &-table {
    position: relative;
  }
  &__photo {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
    img {
      width: 100%;
      height: 100%;
    }
    .first,
    .second {
      transition: $transition-normal;
    }
    .second {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      .first {
        opacity: 0;
        visibility: hidden;
      }
      .second {
        opacity: 1;
        visibility: visible; 
      }
    }
  }
  &-progress {
    &-table {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: flex-start;
      margin: -15px;
    }
    &-wrapper {
      flex: 0 0 auto;
      max-width: 150px;
      padding: 15px;
    }
    &__item {
      max-width: 100%;
      max-height: 110px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  h4 {
    color: $color-white;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 24px;
  }
  .site-description {
    margin-bottom: 32px;
  }
  &-label {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:nth-child(3) {
      .about {
        &-label {
          &-dots {
            flex-direction: row;
          }
          &__dot {
            &:not(:last-child) {
              margin: 0;
            }
            &:not(:first-child) {
              margin-left: -5px;
            }
          }
        }
      }
    }
    &-table {
      margin-top: 64px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__title {
      display: block;
      margin-top: 20px;
      color: $color-white;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.3;
    }
    &-dots {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row-reverse;
    }
    &__dot {
      width: 15px;
      height: 15px;
      background: $color-background-2;
      border: 1px solid $color-white;
      border-radius: 100px;
      backdrop-filter: blur(20px);
      &:not(:last-child) {
        margin-left: -5px;
      }
      &.active {
        z-index: 1;
        background-color: $color-green-1;
        border-color: $color-green-1;
      }
    }
  }
}

// Media 640px =====>
@media screen and (min-width: 640px) {
  .about {
    &-label {
      &-table {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

// Media 768px =====>
@media screen and (min-width: 768px) {
  .about {
    &-table {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__photo {
      flex: 0 0 auto;
      max-width: 50%;
    }
    &-text {
      flex: 0 0 auto;
      max-width: 50%;
      padding-left: 30px;
    }
    &-label {
      &-table {
        flex: 0 0 100%;
        flex-direction: row;
        justify-content: space-between;
      }
      &__title {
        max-width: 200px;
      }
    }
  }
}

// Media 992px =====>
@media screen and (min-width: 992px) {
  .about {
    padding: 90px 0;
    &-label {
      &-table {
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
      }
    }
  }
}

// Media 1200px =====>
@media screen and (min-width: 1200px) {
  .about {
    &-label {
      &-table {
        bottom: 130px;
      }
    }
  }
}

// Media 1440px =====>
@media screen and (min-width: 1440px) {
  .about {
    &__photo {
      max-width: 670px;
    }
    &-text {
      padding-left: 60px;
      max-width: 570px;
    }
  }
}