<div class="technology__wrapper">
  <div class="technology-card @@class">
    <div class="technology-card__content">
      <div class="technology-card__header">
        <h3 class="technology-card__title">
          @@title
        </h3>
      </div>
      <div class="technology-card__body">
        <p class="site-description">
          @@text
        </p>
        <a href="#" class="link-primary">
          <span class="link-primary__title">Read more</span>
          <div class="link-primary__circle">
            <span class="link-primary__arrow"></span>
          </div>
        </a>
      </div>
    </div>
    <div class="technology-card__image">
      <img src="@@image" alt="Technology Preview">
    </div>
  </div>
</div>